In [2]:
import pandas as pd

In [4]:
# Read the local gzipped tab file
df_c14 = pd.read_csv(
    'outcomes_C14.tab.gz',
    sep='\t',
    compression='gzip',
    dtype=str,
    low_memory=False
)

In [8]:
# View the first few rows
df_c14_tn = df_c14[df_c14['St'] == 'TN']

In [9]:
df_c14_tn.head()

,Wave,StFCID,StFIPS,St,RecNumbr,RepDate,DOB,Sex,AmIAKN,Asian,...,MedicalIn,MentlHlthIn,PrescripIn,Baseline,FY11Cohort,Elig19,Elig21,SampleState,InSample,Responded
23655,1,TNµ®œ¿ˆ©¬«÷½û¥,47,TN,µ®œ¿ˆ©¬«÷½û¥,201109.0,1994-09-15,2,0,0,...,88.0,88.0,88.0,1,1,1,NaN,1,1.0,1
23656,1,TNµ®œ¿ˆ©®®öºþ¥,47,TN,µ®œ¿ˆ©®®öºþ¥,201109.0,1994-09-15,1,0,0,...,88.0,88.0,88.0,1,0,0,NaN,0,NaN,1
23657,1,TNµ®œ¿ˆ©®¯÷ºþ¢,47,TN,µ®œ¿ˆ©®¯÷ºþ¢,201109.0,1994-09-15,1,0,0,...,77.0,77.0,77.0,1,0,0,NaN,0,NaN,0
23658,1,TNµ®œ¿ˆ®¦¥þ¸ý¤,47,TN,µ®œ¿ˆ®¦¥þ¸ý¤,201109.0,1994-08-15,2,0,0,...,88.0,88.0,88.0,1,1,1,NaN,1,1.0,1
23659,1,TNµ®œ¿ˆ®¦©ñ»ñ¡,47,TN,µ®œ¿ˆ®¦©ñ»ñ¡,201109.0,1994-07-15,1,0,0,...,77.0,77.0,77.0,1,0,0,NaN,0,NaN,0