# NYTD Analytics Dataset Creation
- Begin with cleaned NYTD datasets (S3://bdc-public-curated/ndacan/nytd/outcomes/cleaned) 
- Ticket: https://app.clickup.com/t/86a9qtb43
- Goal: Create a dataset that is ready to be used for ETA and analytics
    - Wide-format with one row per individual
    - Include all relevant variables with wave 1 and 2 vulnerabilities and wave 3 outcomes

In [1]:
import pandas as pd
import boto3
import os
import io

# Initialize S3 client
s3 = boto3.client('s3')

# List all files in the cleaned directory
response = s3.list_objects_v2(Bucket='bdc-public-curated', Prefix='ndacan/nytd/outcomes/cleaned')

# Get the list of files, excluding archive folder
files = [obj['Key'] for obj in response['Contents']  
         if obj['Key'].endswith('.csv') and 'archive' not in obj['Key']]

In [2]:
files

['ndacan/nytd/outcomes/cleaned/NYTD_Dataset_202_Cleaned.csv',
 'ndacan/nytd/outcomes/cleaned/NYTD_Dataset_228_Cleaned.csv',
 'ndacan/nytd/outcomes/cleaned/NYTD_Dataset_266_Cleaned.csv',
 'ndacan/nytd/outcomes/cleaned/NYTD_Dataset_297_Cleaned.csv']

In [3]:
# Create dictionary to store dataframes
dfs = {}

# Import each CSV file from S3 into dictionary
for file in files:
    if file.endswith('.csv'):
        # Get filename without path and extension to use as dict key
        filename = os.path.basename(file).replace('_Cleaned.csv','')
        
        # Read CSV from S3 using boto3
        obj = s3.get_object(Bucket='bdc-public-curated', Key=file)
        df = pd.read_csv(obj['Body'])
        
        # Store in dictionary
        dfs[filename] = df

In [4]:
dfs.keys()

dict_keys(['NYTD_Dataset_202', 'NYTD_Dataset_228', 'NYTD_Dataset_266', 'NYTD_Dataset_297'])

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
print(dfs['NYTD_Dataset_202'].shape)
dfs['NYTD_Dataset_202'].head()

(57871, 49)

,Wave,StFCID,StFIPS,St,RecNumbr,RepDate,DOB,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,RaceDcln,HisOrgin,OutcmRpt,OutcmDte,OutcmFCS,CurrFTE,CurrPTE,EmplySklls,SocSecrty,EducAid,PubFinAs,PubFoodAs,PubHousAs,OthrFinAs,HighEdCert,CurrenRoll,CnctAdult,Homeless,SubAbuse,Incarc,Children,Marriage,Medicaid,OthrHlthIn,MedicalIn,MentlHlthIn,PrescripIn,Baseline,FY11Cohort,Elig19,Elig21,SampleState,InSample,Responded,processed_date
0,1,AK450290395006,2,AK,450290395006,2011-03-01,1993-10-15,2,0,0,0,0,1,0,0,0,1.0,2010-10-08,1.0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1,0.0,3.0,1.0,1.0,1,1,1,1.0,0,0.0,1,2025-07-07
1,1,AK450448396586,2,AK,450448396586,2011-03-01,1993-12-15,2,1,0,0,0,0,0,0,0,1.0,2010-12-28,1.0,0,0,1,0.0,0.0,1.0,1.0,1.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,0,0.0,0.0,0.0,0.0,1,1,1,1.0,0,0.0,1,2025-07-07
2,1,AK450461296715,2,AK,450461296715,2011-03-01,1993-10-15,2,0,0,0,0,1,0,0,0,9.0,2015-09-30,1.0,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,1,0,0,1.0,0,0.0,1,2025-07-07
3,1,AK450540097503,2,AK,450540097503,2011-03-01,1993-10-15,2,0,0,0,0,1,0,0,0,1.0,2010-10-13,1.0,0,1,0,1.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,1.0,0.0,0.0,0.0,88.0,1,0.0,1.0,1.0,1.0,1,1,1,1.0,0,0.0,1,2025-07-07
4,1,AK450652098623,2,AK,450652098623,2011-03-01,1994-02-15,1,0,0,0,0,1,0,0,0,1.0,2011-03-17,1.0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,1.0,0.0,1.0,0.0,88.0,1,0.0,1.0,1.0,1.0,1,1,1,1.0,0,0.0,1,2025-07-07

In [7]:
print(dfs['NYTD_Dataset_228'].shape)
dfs['NYTD_Dataset_228'].head()

(52199, 50)

,Wave,StFCID,StFIPS,St,RecNumbr,RepDate,DOB,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,RaceDcln,HisOrgin,OutcmRpt,OutcmDte,OutcmFCS,CurrFTE,CurrPTE,EmplySklls,SocSecrty,EducAid,PubFinAs,PubFoodAs,PubHousAs,OthrFinAs,HighEdCert,CurrenRoll,CnctAdult,Homeless,SubAbuse,Incarc,Children,Marriage,Medicaid,OthrHlthIn,MedicalIn,MentlHlthIn,PrescripIn,Baseline,FY14Cohort,Elig19,Elig21,SampleState,InSample,Responded,ps_weight,processed_date
0,1,AL000000007183,1,AL,000000007183,2014-03-01,1996-10-15,2,0,0,0,0,1,0,0,0,7,2016-03-31,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,1.0,0.0,0.0,88.0,1.0,0.0,1.0,1.0,1.0,1,0,0,1.0,0.0,0.0,1,1.0,2025-07-07
1,1,AL000000038434,1,AL,000000038434,2014-09-01,1997-05-15,1,0,0,1,0,0,0,0,0,4,2016-03-31,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,1.0,0.0,1.0,1.0,1.0,1,0,0,1.0,0.0,0.0,1,1.0,2025-07-07
2,1,AL000000046332,1,AL,000000046332,2014-03-01,1996-10-15,1,0,0,1,0,0,0,0,0,1,2013-10-18,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,1.0,0.0,88.0,88.0,88.0,1,1,1,1.0,0.0,0.0,1,1.0,2025-07-07
3,1,AL000000059581,1,AL,000000059581,2014-03-01,1996-11-15,2,0,0,0,0,1,0,0,0,6,2016-03-31,1.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,1,0,0,1.0,0.0,0.0,0,1.0,2025-07-07
4,1,AL000000121244,1,AL,000000121244,2014-09-01,1997-07-15,2,0,0,0,0,1,0,0,0,7,2016-03-31,1.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,1,0,0,1.0,0.0,0.0,0,1.0,2025-07-07

In [8]:
print(dfs['NYTD_Dataset_266'].shape)
dfs['NYTD_Dataset_266'].head()

(57935, 52)

,Wave,StFCID,State,St,RecNumbr,RepDate,DOB,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,RaceDcln,HisOrgin,OutcmRpt,OutcmDte,OutcmFCS,CurrFTE,CurrPTE,EmplySklls,SocSecrty,EducAid,PubFinAs,PubFoodAs,PubHousAs,OthrFinAs,HighEdCert,CurrenRoll,CnctAdult,Homeless,SubAbuse,Incarc,Children,Marriage,Medicaid,OthrHlthIn,MedicalIn,MentlHlthIn,PrescripIn,SampleState,InSample,Baseline,FY17Cohort,Elig19,Elig21,Responded,Race,RaceEthn,FIPS5,processed_date
0,1,AL000000109131,1,AL,000000109131,2017-09-01,2000-05-15,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,2021-09-30,1.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,0.0,1.0,1.0,0.0,1.0,1.0,0,2,2,8,2025-07-07
1,1,AL000000116114,1,AL,000000116114,2017-09-01,2000-05-15,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2017-05-24,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,1.0,0.0,88.0,88.0,88.0,0.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1097,2025-07-07
2,1,AL000000116891,1,AL,000000116891,2017-09-01,2000-05-15,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2017-06-09,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,1.0,0.0,88.0,88.0,88.0,0.0,1.0,1.0,1.0,1.0,1.0,1,1,1,8,2025-07-07
3,1,AL000000126073,1,AL,000000126073,2017-03-01,1999-10-15,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2016-10-24,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,1.0,0.0,88.0,88.0,88.0,0.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1097,2025-07-07
4,1,AL000000154654,1,AL,000000154654,2017-03-01,1999-11-15,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2016-12-27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,1.0,0.0,88.0,88.0,88.0,0.0,1.0,1.0,1.0,1.0,1.0,1,2,2,1097,2025-07-07

In [9]:
print(dfs['NYTD_Dataset_297'].shape)
dfs['NYTD_Dataset_297'].head()

(46755, 52)

,Wave,StFCID,State,St,RecNumbr,RepDate,DOB,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,RaceDcln,HisOrgin,OutcmRpt,OutcmDte,OutcmFCS,CurrFTE,CurrPTE,EmplySklls,SocSecrty,EducAid,PubFinAs,PubFoodAs,PubHousAs,OthrFinAs,HighEdCert,CurrenRoll,CnctAdult,Homeless,SubAbuse,Incarc,Children,Marriage,Medicaid,OthrHlthIn,MedicalIn,MentlHlthIn,PrescripIn,SampleState,InSample,Baseline,FY20Cohort,Elig19,Elig21,Responded,Race,RaceEthn,FIPS5,processed_date
0,1,AL000000033312,1,AL,000000033312,2020-03-01,2003-01-15,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2020-02-25,1.0,0.0,0.0,0.0,0.0,0.0,88.0,88.0,88.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,1.0,0.0,88.0,88.0,88.0,0.0,0.0,1.0,1,1.0,1.0,1,2,2,8,2025-07-07
1,1,AL000000037999,1,AL,000000037999,2020-03-01,2002-12-15,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2019-12-26,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,1.0,0.0,88.0,88.0,88.0,0.0,0.0,1.0,1,1.0,1.0,1,2,2,1097,2025-07-07
2,1,AL000000061971,1,AL,000000061971,2020-09-01,2003-04-15,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2020-05-18,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,88.0,88.0,88.0,0.0,0.0,1.0,1,1.0,1.0,1,1,1,8,2025-07-07
3,1,AL000000095219,1,AL,000000095219,2020-09-01,2003-07-15,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2020-08-05,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,1.0,0.0,88.0,88.0,88.0,0.0,0.0,1.0,1,1.0,1.0,1,2,2,1097,2025-07-07
4,1,AL000000096624,1,AL,000000096624,2020-03-01,2002-12-15,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2020-01-22,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,1.0,0.0,88.0,88.0,88.0,0.0,0.0,1.0,1,1.0,1.0,1,2,2,1073,2025-07-07

In [10]:
# Get list of columns for each dataset
column_sets = {name: set(df.columns) for name, df in dfs.items()}

# Find common columns across all datasets
common_columns = set.intersection(*column_sets.values())

# Find columns that appear in some but not all datasets
all_columns = set.union(*column_sets.values())
partial_columns = all_columns - common_columns

print("Columns present in ALL datasets:")
print("\n".join(sorted(common_columns)))
print("\nColumns present in SOME datasets:")
for col in sorted(partial_columns):
    present_in = [name for name, cols in column_sets.items() if col in cols]
    print(f"{col}: Present in {', '.join(present_in)}")

Columns present in ALL datasets:
AmIAKN
Asian
Baseline
BlkAfrAm
Children
CnctAdult
CurrFTE
CurrPTE
CurrenRoll
DOB
EducAid
Elig19
Elig21
EmplySklls
HawaiiPI
HighEdCert
HisOrgin
Homeless
InSample
Incarc
Marriage
Medicaid
MedicalIn
MentlHlthIn
OthrFinAs
OthrHlthIn
OutcmDte
OutcmFCS
OutcmRpt
PrescripIn
PubFinAs
PubFoodAs
PubHousAs
RaceDcln
RaceUnkn
RecNumbr
RepDate
Responded
SampleState
Sex
SocSecrty
St
StFCID
SubAbuse
Wave
White
processed_date

Columns present in SOME datasets:
FIPS5: Present in NYTD_Dataset_266, NYTD_Dataset_297
FY11Cohort: Present in NYTD_Dataset_202
FY14Cohort: Present in NYTD_Dataset_228
FY17Cohort: Present in NYTD_Dataset_266
FY20Cohort: Present in NYTD_Dataset_297
Race: Present in NYTD_Dataset_266, NYTD_Dataset_297
RaceEthn: Present in NYTD_Dataset_266, NYTD_Dataset_297
StFIPS: Present in NYTD_Dataset_202, NYTD_Dataset_228
State: Present in NYTD_Dataset_266, NYTD_Dataset_297
ps_weight: Present in NYTD_Dataset_228

In [11]:
# Create Cohort column for each dataset
for name, df in dfs.items():
    # Find the cohort column that matches the pattern FYXXCohort
    cohort_col = [col for col in df.columns if col.startswith('FY') and col.endswith('Cohort')][0]
    # Extract first 4 characters to get FYxx
    df['Cohort'] = cohort_col[:4]

In [13]:
# Generate a "Race" column for the 202 and 228 datasets ('Race' is already in the 266 and 297 datasets) 
# Use the following mapping: 
# 'White' = 1 then '1'
# 'BlkAfrAm' = 1 then '2' 
# 'AmIAKN' = 1 then '3'
# 'Asian' = 1 then '4'
# 'HawaiiPI' = 1 then '5'
#sum('White','BlkAfrAm','AmIAKN','Asian','HawaiiPI') > 1 then '6'
#'RaceUnkn' OR 'RaceDcln' = 1 then '99'

for dataset in ['NYTD_Dataset_202', 'NYTD_Dataset_228']:
    df = dfs[dataset]
    
    # Initialize Race column as 0
    df['Race'] = 0
    
    # Apply the race mapping rules
    df.loc[df['White'] == 1, 'Race'] = 1
    df.loc[df['BlkAfrAm'] == 1, 'Race'] = 2
    df.loc[df['AmIAKN'] == 1, 'Race'] = 3
    df.loc[df['Asian'] == 1, 'Race'] = 4
    df.loc[df['HawaiiPI'] == 1, 'Race'] = 5
    
    # Multiple races (sum > 1)
    race_cols = ['White', 'BlkAfrAm', 'AmIAKN', 'Asian', 'HawaiiPI']
    df.loc[df[race_cols].sum(axis=1) > 1, 'Race'] = 6
    
    # Unknown or declined
    df.loc[(df['RaceUnkn'] == 1) | (df['RaceDcln'] == 1), 'Race'] = 99
    
    # Convert to integer
    df['Race'] = df['Race'].astype(float)

In [14]:
dfs['NYTD_Dataset_202'].head()

,Wave,StFCID,StFIPS,St,RecNumbr,RepDate,DOB,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,RaceDcln,HisOrgin,OutcmRpt,OutcmDte,OutcmFCS,CurrFTE,CurrPTE,EmplySklls,SocSecrty,EducAid,PubFinAs,PubFoodAs,PubHousAs,OthrFinAs,HighEdCert,CurrenRoll,CnctAdult,Homeless,SubAbuse,Incarc,Children,Marriage,Medicaid,OthrHlthIn,MedicalIn,MentlHlthIn,PrescripIn,Baseline,FY11Cohort,Elig19,Elig21,SampleState,InSample,Responded,processed_date,Cohort,Race
0,1,AK450290395006,2,AK,450290395006,2011-03-01,1993-10-15,2,0,0,0,0,1,0,0,0,1.0,2010-10-08,1.0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1,0.0,3.0,1.0,1.0,1,1,1,1.0,0,0.0,1,2025-07-07,FY11,1.0
1,1,AK450448396586,2,AK,450448396586,2011-03-01,1993-12-15,2,1,0,0,0,0,0,0,0,1.0,2010-12-28,1.0,0,0,1,0.0,0.0,1.0,1.0,1.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,0,0.0,0.0,0.0,0.0,1,1,1,1.0,0,0.0,1,2025-07-07,FY11,3.0
2,1,AK450461296715,2,AK,450461296715,2011-03-01,1993-10-15,2,0,0,0,0,1,0,0,0,9.0,2015-09-30,1.0,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,1,0,0,1.0,0,0.0,1,2025-07-07,FY11,1.0
3,1,AK450540097503,2,AK,450540097503,2011-03-01,1993-10-15,2,0,0,0,0,1,0,0,0,1.0,2010-10-13,1.0,0,1,0,1.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,1.0,0.0,0.0,0.0,88.0,1,0.0,1.0,1.0,1.0,1,1,1,1.0,0,0.0,1,2025-07-07,FY11,1.0
4,1,AK450652098623,2,AK,450652098623,2011-03-01,1994-02-15,1,0,0,0,0,1,0,0,0,1.0,2011-03-17,1.0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,1.0,0.0,1.0,0.0,88.0,1,0.0,1.0,1.0,1.0,1,1,1,1.0,0,0.0,1,2025-07-07,FY11,1.0

In [15]:
dfs['NYTD_Dataset_297'].columns

Index(['Wave', 'StFCID', 'State', 'St', 'RecNumbr', 'RepDate', 'DOB', 'Sex',
       'AmIAKN', 'Asian', 'BlkAfrAm', 'HawaiiPI', 'White', 'RaceUnkn',
       'RaceDcln', 'HisOrgin', 'OutcmRpt', 'OutcmDte', 'OutcmFCS', 'CurrFTE',
       'CurrPTE', 'EmplySklls', 'SocSecrty', 'EducAid', 'PubFinAs',
       'PubFoodAs', 'PubHousAs', 'OthrFinAs', 'HighEdCert', 'CurrenRoll',
       'CnctAdult', 'Homeless', 'SubAbuse', 'Incarc', 'Children', 'Marriage',
       'Medicaid', 'OthrHlthIn', 'MedicalIn', 'MentlHlthIn', 'PrescripIn',
       'SampleState', 'InSample', 'Baseline', 'FY20Cohort', 'Elig19', 'Elig21',
       'Responded', 'Race', 'RaceEthn', 'FIPS5', 'processed_date', 'Cohort'],
      dtype='object')

## Counts

In [16]:
dfs['NYTD_Dataset_297'].OutcmRpt.value_counts().sort_index()

OutcmRpt
1.0     31143
2.0      2952
3.0        30
4.0       540
5.0       606
6.0      1211
7.0      6372
8.0       119
9.0      3549
77.0      233
Name: count, dtype: int64

In [17]:
dfs['NYTD_Dataset_297'][dfs['NYTD_Dataset_297']['Wave'] == 1].OutcmRpt.value_counts().sort_index()

OutcmRpt
1.0     15648
2.0      1806
3.0        19
4.0       433
5.0       254
6.0      1063
7.0      2010
8.0         4
9.0         3
77.0      162
Name: count, dtype: int64

In [18]:
dfs['NYTD_Dataset_297'][dfs['NYTD_Dataset_297']['Wave'] == 2].OutcmRpt.value_counts().sort_index()

OutcmRpt
1.0    8122
2.0     551
3.0       4
4.0      53
5.0     128
6.0      83
7.0    2022
8.0      56
9.0    3543
Name: count, dtype: int64

In [19]:
dfs['NYTD_Dataset_297'][dfs['NYTD_Dataset_297']['Wave'] == 3].OutcmRpt.value_counts().sort_index()

OutcmRpt
1.0     7373
2.0      595
3.0        7
4.0       54
5.0      224
6.0       65
7.0     2340
8.0       59
9.0        3
77.0      71
Name: count, dtype: int64

In [20]:
dfs['NYTD_Dataset_297'][(dfs['NYTD_Dataset_297']['Wave'] == 2) & (dfs['NYTD_Dataset_297']['OutcmRpt'] == 5)]

,Wave,StFCID,State,St,RecNumbr,RepDate,DOB,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,RaceDcln,HisOrgin,OutcmRpt,OutcmDte,OutcmFCS,CurrFTE,CurrPTE,EmplySklls,SocSecrty,EducAid,PubFinAs,PubFoodAs,PubHousAs,OthrFinAs,HighEdCert,CurrenRoll,CnctAdult,Homeless,SubAbuse,Incarc,Children,Marriage,Medicaid,OthrHlthIn,MedicalIn,MentlHlthIn,PrescripIn,SampleState,InSample,Baseline,FY20Cohort,Elig19,Elig21,Responded,Race,RaceEthn,FIPS5,processed_date,Cohort
21430,2,AL000000306229,1,AL,000000306229,2022-09-01,2003-04-15,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,2022-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,0.0,0.0,1.0,1,1.0,1.0,0,2,2,8,2025-07-07,FY20
21560,2,AL000014710323,1,AL,000014710323,2022-03-01,2003-02-15,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,2022-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,0.0,0.0,1.0,1,1.0,1.0,0,2,2,1073,2025-07-07,FY20
21674,2,AK452153813641,2,AK,452153813641,2022-09-01,2003-09-15,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2022-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,0.0,0.0,1.0,1,1.0,1.0,0,3,3,8,2025-07-07,FY20
21713,2,AK462749784852,2,AK,462749784852,2022-09-01,2003-05-15,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,2022-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,0.0,0.0,1.0,1,1.0,1.0,0,6,6,8,2025-07-07,FY20
21738,2,AK467364979467,2,AK,467364979467,2022-03-01,2002-10-15,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,2022-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,0.0,0.0,1.0,1,1.0,1.0,0,3,3,8,2025-07-07,FY20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34870,2,VA223224227284,51,VA,223224227284,2022-09-01,2003-08-15,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,5.0,2022-08-05,0.0,77.0,77.0,77.0,77.0,77.0,88.0,88.0,88.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,0.0,0.0,1.0,1,1.0,1.0,0,6,6,8,2025-07-07,FY20
35031,2,VA259622212289,51,VA,259622212289,2022-09-01,2003-06-15,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,2022-08-29,0.0,77.0,77.0,77.0,77.0,77.0,88.0,88.0,88.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,0.0,0.0,1.0,1,1.0,1.0,0,2,2,8,2025-07-07,FY20
35689,2,WISMOVODV9D048,55,WI,SMOVODV9D048,2022-03-01,2002-11-15,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,2022-03-22,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,0.0,0.0,1.0,1,1.0,1.0,0,1,1,8,2025-07-07,FY20
35908,2,PR000001452572,72,PR,000001452572,2022-09-01,2003-04-15,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,5.0,2022-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,0.0,0.0,1.0,1,1.0,1.0,0,1,7,8,2025-07-07,FY20
35960,2,PR947939100258,72,PR,947939100258,2022-09-01,2003-06-15,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,5.0,2022-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,0.0,0.0,1.0,1,1.0,1.0,0,99,7,8,2025-07-07,FY20

In [21]:
dfs['NYTD_Dataset_202'][dfs['NYTD_Dataset_202']['StFCID'] == 'AK450461296715']

,Wave,StFCID,StFIPS,St,RecNumbr,RepDate,DOB,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,RaceDcln,HisOrgin,OutcmRpt,OutcmDte,OutcmFCS,CurrFTE,CurrPTE,EmplySklls,SocSecrty,EducAid,PubFinAs,PubFoodAs,PubHousAs,OthrFinAs,HighEdCert,CurrenRoll,CnctAdult,Homeless,SubAbuse,Incarc,Children,Marriage,Medicaid,OthrHlthIn,MedicalIn,MentlHlthIn,PrescripIn,Baseline,FY11Cohort,Elig19,Elig21,SampleState,InSample,Responded,processed_date,Cohort,Race
2,1,AK450461296715,2,AK,450461296715,2011-03-01,1993-10-15,2,0,0,0,0,1,0,0,0,9.0,2015-09-30,1.0,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,1,0,0,1.0,0,0.0,1,2025-07-07,FY11,1.0

## Import Services File
https://www.ndacan.acf.hhs.gov/datasets/dataset-details.cfm?ID=284

In [22]:
### Import Services Data file

# Initialize S3 client
s3 = boto3.client('s3')

# S3 bucket and key
bucket = 'bdc-public-curated'
key = 'ndacan/nytd/services/Services2023.csv'

# Get object from S3
obj = s3.get_object(Bucket=bucket, Key=key)
services_df = pd.read_csv(io.BytesIO(obj['Body'].read()))

# Display first few rows to verify import
print("Services data shape:", services_df.shape)
services_df.head()

Services data shape: (2157426, 41)

,FY,StFIPS,St,RepDate,StFCID,DOB,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,RaceDcln,HisOrgin,FCStatSv,LclFIPSsv,TribeSv,DelinqntSv,EdLevlSv,SpecEdSv,ILNAsv,AcSuppSv,PSEdSuppSv,CareerSv,EmplyTrSv,BudgetSv,HousEdSv,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn,AgeAtSvc,Cohort,StFCID_old,IDFixed
0,2018,1,AL,201803,AL000000001591,2001-11-15,1,0,0,1,0,0,0,0,0,1,8.0,0,0,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,2,16.0,0,AL000000001591,0
1,2018,1,AL,201809,AL000000001969,2002-06-15,2,0,0,0,0,1,0,0,0,0,8.0,0,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,16.0,0,AL000000001969,0
2,2013,1,AL,201309,AL000000009831,1998-07-15,2,0,0,0,0,1,0,0,0,1,1073.0,0,0,0,0,0,1,0,1,1,0,0,1,1,0,0,0,0,0,1,1,15.0,0,AL000000009831,0
3,2014,1,AL,201409,AL000000009831,1998-07-15,2,0,0,0,0,1,0,0,0,0,1073.0,0,0,0,0,0,1,0,1,1,0,0,1,1,0,0,0,0,0,1,1,16.0,0,AL000000009831,0
4,2015,1,AL,201509,AL000000009831,1998-07-15,2,0,0,0,0,1,0,0,0,0,1073.0,0,0,10,0,0,1,0,1,1,0,0,1,1,0,0,0,0,0,1,1,17.0,0,AL000000009831,0

### Columns to Include in the Analytics Dataset
##### OUTCOMES DATA: 
- Dataset Identifiers: Wave, StFCID, St, RecNumbr, RepDate
- Demographic: DOB, Sex, Race
- Potential Filters: OutcmRpt, Baseline(?), Cohort, Responded, Elig19, Elig21
- Potential Predictors: EmplySklls, SocSecrty, EducAid, PubFinAs, PubFoodAs, PubHousAs, OthrFinAs, CnctAdult, 
                        Children, Marriage, Medicaid, OthrHlthIn, MedicalIn, MentlHlthIn, PrescripIn
- Potential Independent: HighEdCert, CurrenRoll, CurrFTE, CurrPTE, Homeless, SubAbuse, Incarc

##### SERVICES DATA
- Dataset Identifiers: St, StFCID
- Demographic: DOB, Sex, Race (THESE SHOULD MATCH OUTCOMES DATA)
- Potential Filters: FY (needs to sync to outcomes FY's for wave 1, 2, or 3) 
- Potential Confounders: FCStatSv, TribeSv, DelinqntSv, EdLevlSv (?), SpecEdSv
- Service Indicators: ILNAsv, AcSuppSv, PSEdSuppSv, CareerSv, EmplyTrSv, BudgetSv, HousEdSv, HlthEdSv, FamSuppSv, MentorSv, SILsv, RmBrdFASv, 
                      EducFinaSv, OthrFinaSv (same as outcome file??)

<h2 style="color:maroon">NEXT STEPS</h2>
<ul>
<li>Create dataframe for Wave 1, Wave 2, and Wave 3 (TN Only - how many cohorts to use??)</li>
<li>Rename headers to indicator baseline, wave2, and final (wave3) </li>

## Separate Dataframes for Wave 1, Wave 2, Wave 3
- All cohorts
- TN filter

In [51]:
# Filter dfs for Tennessee records only
df_tn = pd.DataFrame()
for df in dfs.values():
    if 'St' in df.columns:
        filtered = df[df['St'] == 'TN']
        df_tn = pd.concat([df_tn, filtered])

print(df_tn.shape)
df_tn.head()

(5380, 58)

,Wave,StFCID,StFIPS,St,RecNumbr,RepDate,DOB,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,RaceDcln,HisOrgin,OutcmRpt,OutcmDte,OutcmFCS,CurrFTE,CurrPTE,EmplySklls,SocSecrty,EducAid,PubFinAs,PubFoodAs,PubHousAs,OthrFinAs,HighEdCert,CurrenRoll,CnctAdult,Homeless,SubAbuse,Incarc,Children,Marriage,Medicaid,OthrHlthIn,MedicalIn,MentlHlthIn,PrescripIn,Baseline,FY11Cohort,Elig19,Elig21,SampleState,InSample,Responded,processed_date,Cohort,Race,FY14Cohort,ps_weight,State,FY17Cohort,RaceEthn,FIPS5,FY20Cohort
23655,1,TN,47.0,TN,,2011-09-01,1994-09-15,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,2011-10-06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,0.0,1.0,0.0,88.0,0.0,0.0,88.0,88.0,88.0,1.0,1.0,1.0,1.0,1.0,1.0,1,2025-07-07,FY11,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23656,1,TN,47.0,TN,,2011-09-01,1994-09-15,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2011-11-09,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,88.0,88.0,88.0,1.0,0.0,0.0,1.0,0.0,0.0,1,2025-07-07,FY11,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23657,1,TN,47.0,TN,,2011-09-01,1994-09-15,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,77.0,2015-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,1.0,0.0,0.0,1.0,0.0,0.0,0,2025-07-07,FY11,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23658,1,TN,47.0,TN,,2011-09-01,1994-08-15,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2011-08-24,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,0.0,0.0,88.0,88.0,88.0,1.0,1.0,1.0,1.0,1.0,1.0,1,2025-07-07,FY11,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23659,1,TN,47.0,TN,,2011-09-01,1994-07-15,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,7.0,2011-08-31,1.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,1.0,0.0,0.0,1.0,0.0,0.0,0,2025-07-07,FY11,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df_tn.tail()

,Wave,StFCID,StFIPS,St,RecNumbr,RepDate,DOB,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,RaceDcln,HisOrgin,OutcmRpt,OutcmDte,OutcmFCS,CurrFTE,CurrPTE,EmplySklls,SocSecrty,EducAid,PubFinAs,PubFoodAs,PubHousAs,OthrFinAs,HighEdCert,CurrenRoll,CnctAdult,Homeless,SubAbuse,Incarc,Children,Marriage,Medicaid,OthrHlthIn,MedicalIn,MentlHlthIn,PrescripIn,Baseline,FY11Cohort,Elig19,Elig21,SampleState,InSample,Responded,processed_date,Cohort,Race,FY14Cohort,ps_weight,State,FY17Cohort,RaceEthn,FIPS5,FY20Cohort
45336,3,TNOOOOOLOMHJGG,NaN,TN,OOOOOLOMHJGG,2024-03-01,2002-10-15,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2024-03-04,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,7.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1,2025-07-07,FY20,1.0,NaN,NaN,47.0,NaN,1.0,8.0,1.0
45337,3,TNOOOOOMFLLOFI,NaN,TN,OOOOOMFLLOFI,2024-03-01,2002-12-15,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2023-12-07,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,7.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,88.0,88.0,88.0,1.0,NaN,1.0,1.0,1.0,1.0,1,2025-07-07,FY20,2.0,NaN,NaN,47.0,NaN,2.0,47037.0,1.0
45338,3,TNOOOOOMFNIJOK,NaN,TN,OOOOOMFNIJOK,2024-03-01,2002-11-15,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,2022-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,1.0,NaN,1.0,1.0,1.0,1.0,0,2025-07-07,FY20,1.0,NaN,NaN,47.0,NaN,1.0,8.0,1.0
45339,3,TNOOOOOMGMNHHK,NaN,TN,OOOOOMGMNHHK,2024-03-01,2002-10-15,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2024-03-06,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,88.0,3.0,0.0,88.0,88.0,88.0,1.0,NaN,1.0,1.0,1.0,1.0,1,2025-07-07,FY20,1.0,NaN,NaN,47.0,NaN,1.0,8.0,1.0
45340,3,TNOOOOOONKKGKK,NaN,TN,OOOOOONKKGKK,2024-09-01,2003-07-15,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0,2022-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,1.0,NaN,1.0,1.0,1.0,1.0,0,2025-07-07,FY20,1.0,NaN,NaN,47.0,NaN,1.0,8.0,1.0

In [58]:
# Create separate dataframes for each wave
wave1_df = df_tn[df_tn['Wave'] == 1].copy()
wave2_df = df_tn[df_tn['Wave'] == 2].copy()
wave3_df = df_tn[df_tn['Wave'] == 3].copy()

print("\nShape of Wave 1 dataframe:", wave1_df.shape)
print("Shape of Wave 2 dataframe:", wave2_df.shape) 
print("Shape of Wave 3 dataframe:", wave3_df.shape)

Shape of Wave 1 dataframe: (3068, 58)
Shape of Wave 2 dataframe: (1362, 58)
Shape of Wave 3 dataframe: (950, 58)

## Filter services dataframe on TN only

In [59]:
# Create a Services df filter on TN only 
services_tn = services_df[services_df['St'] =='TN']

print(services_tn.shape)
services_tn.head()

(20212, 41)

,FY,StFIPS,St,RepDate,StFCID,DOB,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,RaceDcln,HisOrgin,FCStatSv,LclFIPSsv,TribeSv,DelinqntSv,EdLevlSv,SpecEdSv,ILNAsv,AcSuppSv,PSEdSuppSv,CareerSv,EmplyTrSv,BudgetSv,HousEdSv,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn,AgeAtSvc,Cohort,StFCID_old,IDFixed
1859775,2017,47,TN,201703,TN,1998-12-15,1,0,0,0,0,1,0,0,0,1,8.0,0,1,12,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,18.0,0,TN,0
1859776,2017,47,TN,201709,TN,1998-12-15,1,0,0,0,0,0,1,0,3,1,8.0,0,1,12,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,99,99,18.0,0,TN,0
1859777,2015,47,TN,201509,TN,1997-05-15,1,0,0,1,0,0,0,0,0,1,8.0,0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2,2,18.0,0,TN,0
1859778,2017,47,TN,201703,TN,1998-10-15,2,0,0,0,0,1,0,0,0,1,8.0,0,0,13,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,18.0,0,TN,0
1859779,2017,47,TN,201703,TN,1998-12-15,1,0,0,0,0,1,0,0,0,1,8.0,0,1,12,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1,18.0,0,TN,0

## For TN Wave 1, 2, and 3 dataframes, update headers and drop columns

In [60]:
# Add wave number suffix to each of the non-identifier headers in wave1_df, wave2_df, and wave3_df in the form of "_w#"
reference_cols = ['OutcmRpt', 'OutcmDte', 'OutcmFCS', 'Race', 'Responded', 'Elig19', 'Elig21']   
pred_cols = ['EmplySklls', 'SocSecrty', 'EducAid', 'PubFinAs', 'PubFoodAs', 'PubHousAs', 'OthrFinAs', 'CnctAdult', 'HighEdCert',
            'Children', 'Marriage', 'Medicaid', 'OthrHlthIn', 'MedicalIn', 'MentlHlthIn', 'PrescripIn']
outcome_cols = ['HighEdCert', 'CurrenRoll', 'CurrFTE', 'CurrPTE', 'Homeless', 'SubAbuse', 'Incarc']


# Add wave number suffix to columns in wave1_df
for col in reference_cols +pred_cols + outcome_cols:
    if col in wave1_df.columns:
        wave1_df = wave1_df.rename(columns={col: f'{col}_w1'})

# Add wave number suffix to columns in wave2_df  
for col in reference_cols +pred_cols + outcome_cols:
    if col in wave2_df.columns:
        wave2_df = wave2_df.rename(columns={col: f'{col}_w2'})

# Add wave number suffix to columns in wave3_df
for col in reference_cols + pred_cols + outcome_cols:
    if col in wave3_df.columns:
        wave3_df = wave3_df.rename(columns={col: f'{col}_w3'})

In [61]:
wave3_df.head()

,Wave,StFCID,StFIPS,St,RecNumbr,RepDate,DOB,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,RaceDcln,HisOrgin,OutcmRpt_w3,OutcmDte_w3,OutcmFCS_w3,CurrFTE_w3,CurrPTE_w3,EmplySklls_w3,SocSecrty_w3,EducAid_w3,PubFinAs_w3,PubFoodAs_w3,PubHousAs_w3,OthrFinAs_w3,HighEdCert_w3,CurrenRoll_w3,CnctAdult_w3,Homeless_w3,SubAbuse_w3,Incarc_w3,Children_w3,Marriage_w3,Medicaid_w3,OthrHlthIn_w3,MedicalIn_w3,MentlHlthIn_w3,PrescripIn_w3,Baseline,FY11Cohort,Elig19_w3,Elig21_w3,SampleState,InSample,Responded_w3,processed_date,Cohort,Race_w3,FY14Cohort,ps_weight,State,FY17Cohort,RaceEthn,FIPS5,FY20Cohort
55944,3,TN,47.0,TN,,2015-09-01,1994-09-15,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,7.0,2015-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,1.0,1.0,1.0,1.0,1.0,1.0,0,2025-07-07,FY11,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55945,3,TN,47.0,TN,,2015-09-01,1994-08-15,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2015-07-22,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,2025-07-07,FY11,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55946,3,TN,47.0,TN,,2015-09-01,1994-09-15,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,2015-07-21,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,2025-07-07,FY11,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55947,3,TN,47.0,TN,,2015-09-01,1994-07-15,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0,2015-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,1.0,1.0,1.0,1.0,1.0,1.0,0,2025-07-07,FY11,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55948,3,TN,47.0,TN,,2015-09-01,1994-09-15,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0,2015-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,1.0,1.0,1.0,1.0,1.0,1.0,0,2025-07-07,FY11,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Drop cols
drop_wave_cols = ['Wave', 'RecNumbr', 'DOB', 'AmIAKN', 'Asian', 'BlkAfrAm', 'HawaiiPI', 'White', 'RaceUnkn', 'RaceDcln', 'HisOrgin', 'SampleState', 'InSample', 
                  'processed_date', 'FY14Cohort', 'ps_weight', 'State', 'FY17Cohort', 'RaceEthn', 'FY20Cohort', 'FIPS5'] 


# Drop cols from wave1_df, wave2_df, and wave3_df
wave1_df = wave1_df.drop(columns=drop_wave_cols)
wave2_df = wave2_df.drop(columns=drop_wave_cols)
wave3_df = wave3_df.drop(columns=drop_wave_cols)

In [67]:
wave1_df.head()

,StFCID,StFIPS,St,RepDate,Sex,OutcmRpt_w1,OutcmDte_w1,OutcmFCS_w1,CurrFTE_w1,CurrPTE_w1,EmplySklls_w1,SocSecrty_w1,EducAid_w1,PubFinAs_w1,PubFoodAs_w1,PubHousAs_w1,OthrFinAs_w1,HighEdCert_w1,CurrenRoll_w1,CnctAdult_w1,Homeless_w1,SubAbuse_w1,Incarc_w1,Children_w1,Marriage_w1,Medicaid_w1,OthrHlthIn_w1,MedicalIn_w1,MentlHlthIn_w1,PrescripIn_w1,Baseline,FY11Cohort,Elig19_w1,Elig21_w1,Responded_w1,Cohort,Race_w1
23655,TN,47.0,TN,2011-09-01,2.0,1.0,2011-10-06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,0.0,1.0,0.0,88.0,0.0,0.0,88.0,88.0,88.0,1.0,1.0,1.0,1.0,1,FY11,1.0
23656,TN,47.0,TN,2011-09-01,1.0,1.0,2011-11-09,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,88.0,88.0,88.0,1.0,0.0,0.0,1.0,1,FY11,2.0
23657,TN,47.0,TN,2011-09-01,1.0,77.0,2015-09-30,0.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,1.0,0.0,0.0,1.0,0,FY11,2.0
23658,TN,47.0,TN,2011-09-01,2.0,1.0,2011-08-24,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,1.0,0.0,0.0,0.0,0.0,88.0,0.0,0.0,88.0,88.0,88.0,1.0,1.0,1.0,1.0,1,FY11,99.0
23659,TN,47.0,TN,2011-09-01,1.0,7.0,2011-08-31,1.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,77.0,1.0,0.0,0.0,1.0,0,FY11,2.0