In [4]:
import pandas as pd

In [2]:
df = pd.read_excel('../data/IL YOUTH DATASET FROM FY23-25.xlsx', sheet_name='Dataset', 
                   dtype={'PERSON ID': str, 'REMOVAL ZIP CODE': str, 'PLACEMENT ZIP CODE': str})

In [5]:
print(df.shape) 
df.head()

(557897, 14)

,PERSON ID,CURRENT AGE,COMMITMENT COUNTY,RESPONSIBLE COUNTY,GENDER,REMOVAL ZIP CODE,PLACEMENT ZIP CODE,LOCATION BEGIN DATE,LOCATION END DATE,ASSESSMENT TYPE,ASSESSMENT STATUS,ASSESSMENT INDICATOR,SCORE-RESULT,GENERAL RESULT DESCRIPTION
0,353258,17,Madison,Madison,MALE,37040,37040,2023-06-13,2024-05-25,CANS,APPROVED,Sexual Abuse,0,No current need; no need for action or interv...
1,353258,17,Madison,Madison,MALE,37040,37040,2023-06-13,2024-05-25,CANS,APPROVED,Physical Abuse,0,No current need; no need for action or interv...
2,353258,17,Madison,Madison,MALE,37040,37040,2023-06-13,2024-05-25,CANS,APPROVED,Emotional Abuse,0,No current need; no need for action or interv...
3,353258,17,Madison,Madison,MALE,37040,37040,2023-06-13,2024-05-25,CANS,APPROVED,Neglect,2,Action or intervention is required to ensure ...
4,353258,17,Madison,Madison,MALE,37040,37040,2023-06-13,2024-05-25,CANS,APPROVED,Medical Trauma,0,No current need; no need for action or interv...

In [6]:
print(f"Total records: {len(df['PERSON ID'])}")
print(f"Unique youth: {df['PERSON ID'].nunique()}")

Total records: 557897
Unique youth: 5684

In [8]:
print("\nCounts by age:")
age_counts = df.groupby('CURRENT AGE')['PERSON ID'].agg(['count', 'nunique'])
age_counts.columns = ['Total records', 'Unique youth']
age_counts['Records per youth'] = age_counts['Total records'] / age_counts['Unique youth']
print(age_counts)

Counts by age:
             Total records  Unique youth  Records per youth
CURRENT AGE
16                   10442           108          96.685185
17                  167624          1705          98.313196
18                  159515          1630          97.861963
19                  127097          1295          98.144402
20                   88149           897          98.270903
21                    5070            49         103.469388

In [10]:
print("\nCounts by gender:")
gender_counts = df.groupby('GENDER')['PERSON ID'].agg(['count', 'nunique'])
gender_counts.columns = ['Total records', 'Unique youth']
print(gender_counts)

Counts by gender:
        Total records  Unique youth
GENDER
FEMALE         230597          2342
MALE           327300          3342

In [14]:
print(f"\nTotal unique counties: {df['COMMITMENT COUNTY'].nunique()}")
print("\nCounts by county:")
county_counts = df.groupby('COMMITMENT COUNTY')['PERSON ID'].agg(['count', 'nunique'])
county_counts.columns = ['Total records', 'Unique youth'] 
print(county_counts)

Total unique counties: 96

Counts by county:
                   Total records  Unique youth
COMMITMENT COUNTY
Anderson                    9790           106
Bedford                     5625            56
Benton                      1243            13
Bledsoe                     1082            12
Blount                      8627            91
...                          ...           ...
Wayne                       3651            29
Weakley                     1798            20
White                       3548            36
Williamson                  6764            72
Wilson                     10950           122

[96 rows x 2 columns]

In [13]:
print(f"\nTotal unique removal zip codes: {df['REMOVAL ZIP CODE'].nunique()}")
print("\nCounts by removal zip code:")
zip_counts = df.groupby('REMOVAL ZIP CODE')['PERSON ID'].agg(['count', 'nunique'])
zip_counts.columns = ['Total records', 'Unique youth']
print(zip_counts)

Total unique removal zip codes: 531

Counts by removal zip code:
                  Total records  Unique youth
REMOVAL ZIP CODE
15779                       579             6
21793                        77             1
23124                        79             1
23603                      1442            14
23704                      1048            11
...                         ...           ...
85142                        69             1
89130                        71             1
92054                        98             1
93117                        99             1
94534                        79             1

[531 rows x 2 columns]

In [12]:
print(f"\nTotal unique placement zip codes: {df['PLACEMENT ZIP CODE'].nunique()}")
print("\nCounts by placement zip code:")
zip_counts = df.groupby('PLACEMENT ZIP CODE')['PERSON ID'].agg(['count', 'nunique'])
zip_counts.columns = ['Total records', 'Unique youth']
print(zip_counts)

Total unique placement zip codes: 527

Counts by placement zip code:
                    Total records  Unique youth
PLACEMENT ZIP CODE
15779                         579             6
21793                          77             1
23124                          79             1
23603                        1442            14
23704                        1048            11
...                           ...           ...
85142                         282             2
89130                          71             1
92054                          98             1
93117                          99             1
94534                          79             1

[527 rows x 2 columns]

In [16]:
print(f"\nTotal unique assessment indicators: {df['ASSESSMENT INDICATOR'].nunique()}")
print("\nCounts by assessment indicator:")
assessment_counts = df.groupby('ASSESSMENT INDICATOR')['PERSON ID'].agg(['count', 'nunique'])
assessment_counts.columns = ['Total records', 'Unique youth']
assessment_counts

Total unique assessment indicators: 236

Counts by assessment indicator:

,Total records,Unique youth
ASSESSMENT INDICATOR,,
Is the youth transitioning to residential services for adults with disabilities?,374,374
Adjustment To Trauma,5643,5641
Anger Control,5669,5667
Anxiety,5669,5667
Are the results of the credit check available?,374,374
...,...,...
Youth Educational Attainment,4524,4522
Youth Involvement With Care,4490,4488
Youth Parental/Caregiving Role,4472,4470
Youth Residential Stability,4534,4532
Youth Transportation,4543,4541

In [24]:
# Count unique values per person for key fields
person_counts = df.groupby('PERSON ID').agg({
    'CURRENT AGE': 'nunique',
    'COMMITMENT COUNTY': 'nunique', 
    'RESPONSIBLE COUNTY': 'nunique',
    'GENDER': 'nunique',
    'REMOVAL ZIP CODE': 'nunique',
    'PLACEMENT ZIP CODE': 'nunique',
    'LOCATION BEGIN DATE': 'nunique',
    'LOCATION END DATE': 'nunique',
    'ASSESSMENT TYPE': 'nunique'
}).reset_index() 

print(person_counts.shape)

(5684, 10)

In [25]:
person_counts.head(10)

,PERSON ID,CURRENT AGE,COMMITMENT COUNTY,RESPONSIBLE COUNTY,GENDER,REMOVAL ZIP CODE,PLACEMENT ZIP CODE,LOCATION BEGIN DATE,LOCATION END DATE,ASSESSMENT TYPE
0,10003244,1,1,1,1,1,1,1,1,1
1,10004996,1,1,1,1,1,1,1,0,2
2,100079976,1,1,1,1,1,1,1,1,1
3,10010134,1,1,1,1,1,1,1,1,2
4,100106936,1,1,1,1,1,1,1,1,1
5,100111937,1,1,1,1,1,1,1,1,1
6,100111938,1,1,1,1,1,1,1,1,1
7,10012584,1,1,1,1,1,1,1,1,1
8,10018108,1,1,1,1,1,1,1,1,1
9,10020748,1,1,1,1,1,1,1,1,1

In [38]:
col = 'ASSESSMENT TYPE'
person_counts[['PERSON ID',col]].sort_values(by=col, ascending=False)#.iloc[0:25,:]

      PERSON ID  ASSESSMENT TYPE
2842   24872303                2
5266    9232698                2
2530   23488179                2
2531   23493482                2
1863  126671041                2
...         ...              ...
1949   12769444                1
1947   12760318                1
1946  127592039                1
1945  127577097                1
5683    9997458                1

[5684 rows x 2 columns]

In [40]:
### For each column in person_counts, except PERSON ID, display value_counts()
for col in person_counts.columns:
    if col != 'PERSON ID':
        print(f"\nValue counts for {col}:")
        print(person_counts[col].value_counts())

Value counts for CURRENT AGE:
CURRENT AGE
1    5684
Name: count, dtype: int64

Value counts for COMMITMENT COUNTY:
COMMITMENT COUNTY
1    5684
Name: count, dtype: int64

Value counts for RESPONSIBLE COUNTY:
RESPONSIBLE COUNTY
1    5684
Name: count, dtype: int64

Value counts for GENDER:
GENDER
1    5684
Name: count, dtype: int64

Value counts for REMOVAL ZIP CODE:
REMOVAL ZIP CODE
1    5563
0     121
Name: count, dtype: int64

Value counts for PLACEMENT ZIP CODE:
PLACEMENT ZIP CODE
1    5682
0       2
Name: count, dtype: int64

Value counts for LOCATION BEGIN DATE:
LOCATION BEGIN DATE
1    5684
Name: count, dtype: int64

Value counts for LOCATION END DATE:
LOCATION END DATE
1    4811
0     873
Name: count, dtype: int64

Value counts for ASSESSMENT TYPE:
ASSESSMENT TYPE
1    5327
2     357
Name: count, dtype: int64

In [115]:
### Create a Youth Table that contains all a single row per youth and displays the following fields: 
# Current Age, Commitment County, Responsible County, Gender, Removal Zip Code, Placement Zip Code, Location Begin Date, Location End Date
# Assessment Type will be pivoted with an indicator if it is present for that youth. 

df_youth = df[['PERSON ID', 'CURRENT AGE', 'COMMITMENT COUNTY', 'RESPONSIBLE COUNTY', 'GENDER', 'REMOVAL ZIP CODE', 'PLACEMENT ZIP CODE', 'LOCATION BEGIN DATE', 'LOCATION END DATE']].copy().drop_duplicates().reset_index(drop=True)
print(df_youth.shape)
df_youth.head()

(5684, 9)

,PERSON ID,CURRENT AGE,COMMITMENT COUNTY,RESPONSIBLE COUNTY,GENDER,REMOVAL ZIP CODE,PLACEMENT ZIP CODE,LOCATION BEGIN DATE,LOCATION END DATE
0,353258,17,Madison,Madison,MALE,37040,37040,2023-06-13,2024-05-25
1,706512,17,Sullivan,Sullivan,FEMALE,37642,37642,2024-11-18,NaT
2,1348374,17,Warren,Warren,FEMALE,37110,37110,2023-06-02,2023-09-30
3,2470086,18,Hamilton,Hamilton,MALE,37218,37218,2024-09-17,NaT
4,3965628,21,Davidson,Davidson,MALE,37725,37725,2021-12-22,2022-08-31

In [116]:
df_CANS = df[df['ASSESSMENT TYPE'] == 'CANS'][['PERSON ID']].drop_duplicates().reset_index(drop=True)
df_CANS['CANS'] = 1 
print(df_CANS.shape) 

df_LIFESKILL = df[df['ASSESSMENT TYPE'] == 'LIFESKILL'][['PERSON ID']].drop_duplicates().reset_index(drop=True)
df_LIFESKILL['LIFESKILL'] = 1 
print(df_LIFESKILL.shape)

(5667, 2)
(374, 2)

In [117]:
### Merge with Assessment Types
df_youth = df_youth.merge(df_CANS, on='PERSON ID', how='left') 
df_youth = df_youth.merge(df_LIFESKILL, on='PERSON ID', how='left') 

# Fill CANS and LIFESKILL with 0 where they are NaN
df_youth['CANS'] = df_youth['CANS'].fillna(0)
df_youth['LIFESKILL'] = df_youth['LIFESKILL'].fillna(0)


print(df_youth.shape)
df_youth.head()

(5684, 11)

,PERSON ID,CURRENT AGE,COMMITMENT COUNTY,RESPONSIBLE COUNTY,GENDER,REMOVAL ZIP CODE,PLACEMENT ZIP CODE,LOCATION BEGIN DATE,LOCATION END DATE,CANS,LIFESKILL
0,353258,17,Madison,Madison,MALE,37040,37040,2023-06-13,2024-05-25,1.0,0.0
1,706512,17,Sullivan,Sullivan,FEMALE,37642,37642,2024-11-18,NaT,1.0,0.0
2,1348374,17,Warren,Warren,FEMALE,37110,37110,2023-06-02,2023-09-30,1.0,0.0
3,2470086,18,Hamilton,Hamilton,MALE,37218,37218,2024-09-17,NaT,1.0,0.0
4,3965628,21,Davidson,Davidson,MALE,37725,37725,2021-12-22,2022-08-31,1.0,0.0

In [118]:
df_youth[['CANS','LIFESKILL']].value_counts()

CANS  LIFESKILL
1.0   0.0          5310
      1.0           357
0.0   1.0            17
Name: count, dtype: int64

In [120]:
### Save df_youth to csv in 'bdaic created tables' folder 
df_youth.to_csv('../data/bdaic created tables/df_youth.csv', index=False)

In [124]:
### Create an Assessment Questions Table 
# PERSON ID, ASSESSMENT TYPE, ASSESSMENT INDICATOR, SCORE-RESULT, GENERAL RESULT DESCRIPTION 
df_assessment_questions = df[['PERSON ID', 'ASSESSMENT TYPE', 'ASSESSMENT INDICATOR', 'SCORE-RESULT', 'GENERAL RESULT DESCRIPTION']].copy().drop_duplicates().reset_index(drop=True)
print(df_assessment_questions.shape)
df_assessment_questions.head()

(555168, 5)

,PERSON ID,ASSESSMENT TYPE,ASSESSMENT INDICATOR,SCORE-RESULT,GENERAL RESULT DESCRIPTION
0,353258,CANS,Sexual Abuse,0,No current need; no need for action or interv...
1,353258,CANS,Physical Abuse,0,No current need; no need for action or interv...
2,353258,CANS,Emotional Abuse,0,No current need; no need for action or interv...
3,353258,CANS,Neglect,2,Action or intervention is required to ensure ...
4,353258,CANS,Medical Trauma,0,No current need; no need for action or interv...

In [123]:
df.shape

(557897, 14)

In [125]:
### Save Assessment Questions Table to csv in 'bdaic created tables' folder 
df_assessment_questions.to_csv('../data/bdaic created tables/df_assessment_questions.csv', index=False)